.navbar-brand{
    display: relative;
    text-align: center;
    justify-content: center;
    padding-left: 49%;
}

.myClass{
    justify-content: end;
    font-size: xx-large;
}

header {
    background-color: #282c34;
    position: relative;
    display: flex;
    justify-content: center;
    overflow-x: hidden;

  }

body {
      overflow-x: hidden;
}
