.navbar-brand{
    display: fixed;
    padding-left: 47%;
    margin: 0 auto, 0 auto;
}

.myClass{
    display: flexbox;
    font-size: large;
    color: #f0f8ff;
    margin: 0 auto, 0 auto;
    /* padding-left: 1000%; */
}

header {
    background-color: #282c34;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
  }

body {
      overflow-x: hidden;
      margin: 0 auto;
}
