/* *{
    margin: 0;
    padding: 0; 
}  */


.navbar-brand{
    display: absolute;
    text-align: center;
    justify-content: center;
    padding-left: 48.3%;
}


header {
    background-color: #282c34;
    position: relative;
    display: flex;
    justify-content: center;
    overflow-x: hidden;

  }

  body {
      overflow-x: hidden;
}
